.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 40px auto 0;

  @media (max-width: $tablet-max) {
    width: auto;
    margin-top: 30px;
    margin-left: -$gap-half;
    margin-right: -$gap-half;
  }

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.form-field {
  margin-top: 30px;
  padding: 0 $gap-half;
  flex-basis: 100%;
  border: 1px solid green;
}

.form-field-half {
  flex-basis: 50%;
}

.form-label {
  font-size: 20px;
  line-height: 27px;
  color: $color-orange;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border-radius: 8px;
  border: none;
}


