.menu {
  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 0 15px;
  }

  a {
    font-size: 24px;
    line-height: 33px;
    color: $color-light;
    text-decoration: none;
  }

  a:hover {
    color: $color-orange;
  }
}
