.menu {
  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px 0;
    background-color: $color-dark;
    border-top: 1px solid $color-light;
  }

  @media (max-width: $mobile-max) {
    padding: 10px 0 30px;
    text-align: center;
  }

  ul {
    display: flex;
    list-style: none;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      display: block;
    }
  }

  li {
    margin: 0 15px;

    @media (max-width: $mobile-max) {
      margin: 20px 0;
    }
  }

  a {
    font-size: 24px;
    line-height: 33px;
    color: $color-light;
    text-decoration: none;
  }

  a:hover {
    color: $color-orange;
  }
}

.menu-phone {
  display: none;

  @media (max-width: $mobile-max) {
    display: inline-block;
    margin-top: 30px;
  }
}
