.tabs {
  display: flex;
  justify-content: center;
  list-style: none;
}

.tabs-item {
  margin: 0 30px;
}

.tabs-link {
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;
  color: $color-dark;

  &.active {
    color: $color-orange;
  }
}
