// Fonts
$font: 'Open Sans', sans-serif;
$font-title: 'Raleway', sans-serif;

// colors
$color-dark: #152B3C;
$color-light: #FBF2DA;
$color-orange: #D46240;

// indents
$gap: 30px;
$gap-half: calc($gap / 2);

// breakpoints
